

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corNavEscura);
    gap: 4rem;
    height: var(--alturaHeader);
    padding: 0px var(--paddingPadrao);
}
    header > .usuario {
        margin-left: auto;
    }
    .headerItem{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 90px;
    }
        .headerItem:hover h4{
            color: aliceblue;
        }
        .opcao:hover h2{
            color: aliceblue;

        }
        .imagemHeader, .iconeAncora{
            width: 80px;
            height: 70px;
        }