body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 100vw;
}

aside{
    display: flex;
    justify-content: space-around;
}
    .opcao{
        display: flex;
        justify-content: center;
    }

main{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .container1, .container2{
        display: flex;
        gap: 2.5rem;
        overflow-x: scroll;
        background-color: var(--corNavEscura);
        width: 75vw;
        padding: 2.5rem;
        scrollbar-color:  rgb(70, 70, 105) rgb(26, 26, 54);
    }

    .container1{
        margin-bottom: 150px;
    }

        .informacaoTexto{
            background-color: #2d2d57d2;
            margin-top: 90%;
            padding: 20px 0px;
            text-align: center;
            transition: 0.4s;
        }
            .informacaoTexto * {
                color: aliceblue;
            }
            .informacaoTexto img{
                filter: brightness(1.8);
            }
        .produto{
            background-color: rgb(0, 0, 0);
            min-width: 400px;
            min-height: 500px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            cursor: pointer;
            transition: 0.4s;
        }
            .produto:hover .informacaoTexto{
                opacity: 0;
            }
            .produto:hover{
                scale: 1.1;
            }
        .produto img{
            object-fit: fill;
        }
        .produto-parte1:nth-child(1){
            background-image: url(../IMG/jogos/stardew_valley.png);
        }
        .produto-parte1:nth-child(2){
            background-image: url(../IMG/jogos/pvz.png);

        }
        .produto-parte1:nth-child(3){
            background-image: url(../IMG/jogos/the_binding_of_isaac.png);

        }
        .produto-parte1:nth-child(4){
            background-image: url(../IMG/jogos/undertale.png);

        }
        .produto-parte1:nth-child(5){
            background-image: url(../IMG/jogos/cuphead.png);

        }


        /* container 2 */
        .produto-parte2:nth-child(1){
            background-image: url(../IMG/jogos/sea_of_stars.png);
        }
        .produto-parte2:nth-child(2){
            background-image: url(../IMG/jogos/stray.png);
        }
        .produto-parte2:nth-child(3){
            background-image: url(../IMG/jogos/inscryption.png);
        }
        .produto-parte2:nth-child(4){ 
            background-image: url(../IMG/jogos/dead_cells.png);
        }
        .produto-parte2:nth-child(5){
            background-image: url(../IMG/jogos/celeste.png);
        }
        

#backgroundPopUpProduto{
    display: flex;
    display: none;
    background-color: rgba(0, 0, 0, 0.479);
    position: fixed;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

    #popUpProduto{
        padding: 2rem;
        border-radius: 5%;
        background-color: #262636dc;
        display: flex;
        flex-direction: column;
    }
        #popUpProduto *{
            color: aliceblue;
            /* text-align: start; */
        }
        #popUpProduto img{
            min-width: 400px;
            min-height: 500px;
            border-radius: 10px;
        }
    #container-jogo{
        display: flex;
        gap: 5%;
    }
    #fechar{
        padding: 0px ;
        margin-left: auto;
        text-align: end;
        cursor: pointer;
    }
        #comprarJogo{
            background-color: var(--corNavEscura);
            filter: brightness(1.3);
            padding: 10px 5px;
            border: 0;
            border-radius: 5px;
            width: 90%;
            font-size: 24px;
            transition: 0.4s;
            text-align: center;
            margin-top: 100%;
            box-sizing: border-box;
        }
            #comprarJogo:hover{
                filter: drop-shadow(0px 0px 1px white);
            }

#listaDeDesejos{
    background-color: var(--corFundoOpacity);
    backdrop-filter: blur(15px);
    /* background-color: blue; */
    position: fixed;
    display: none;
    flex-direction: column;
    z-index: 5;
    height: 100vh;
    width: 40%;
    top: 0;
    left: 0;
    overflow: auto;
}
#listaDeDesejos h1{
    text-align: end;
    padding-right: 100px;
}
#listaDeDesejos::-webkit-scrollbar{
    background-color: rgb(26, 26, 54);;
    }
    #listaDeDesejos::-webkit-scrollbar-thumb{
        background-color: rgb(70, 70, 105);
        border: 3px solid rgb(26, 26, 54);
        border-radius: 5px;
        transition: 0.4s;
    }
    #listaDeDesejos::-webkit-scrollbar-thumb:active{
        /* filter: brightness(1.4); */
        background-color: rgb(55, 55, 85);

    }


    #tabelaListaDesejos{
        margin-top: 100px;
        width: 70%;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        /* background-color: greenyellow; */
        /* overflow-y: auto; */

    }
    td{
        padding: 25px 0px;
    }
    td img{
        width: 200px;
        height: 250px;   
    }
    th,td{
        max-height: 400px;
        /* height: 100px; */
        /* background-color: aqua; */
        border-top: 2px solid var(--corSemHover);
        border-bottom: 2px solid var(--corSemHover);
    }
        td div{
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

.buttonExcluirDesejo{
    background-color: var(--corFundo);
    color: var(--corSemHover);
    width: 200px;
    padding: 10px 5px;
    margin-top: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: 0.3s;
}

    .buttonExcluirDesejo:hover{
        filter: brightness(1.3);
    }
@media (width < 50rem) {
    header{
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        overflow: auto;
        gap: 1.5rem;
        /* flex-direction: column; */
    }
        .usuario, .logo, .configuracao{
            padding: 0;
        }
        .usuario{
            margin-left: none;
        }
    #popUpProduto{
        align-items: center;
        justify-content: center;
        height: fit-content;
        overflow: scroll;
    }
    #popUpProduto img{
        width: 350px;
    }
    #container-jogo{
        flex-direction: column;
    }
    #comprarJogo{
        margin-top: 5%;
    }

    #listaDeDesejos{
        width: 100vw;
        min-width: 100vw;
    }
}
